.filterBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15px;
}

.filterTitle {
  font-size: 30px;
}
.listContainer {
  display: flex;
  flex-direction: row;

}

.something {
  margin-left: -150px;
}
