.searchBar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}


input {
  height: 40px;
  width: 400px;
  font-size: xx-large;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.dropDown {
  position: relative;
  display: inline-block;


}




input:focus {
 transform: scale(1.03,1.03);
}


